# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson

'.source.k':
  'module+end':
    'prefix': 'module+end'
    'minLength': 1
    'body': 'module $1\n\nendmodule'
    'description': 'module and endmodule'

  'module+imp+end':
    'prefix': 'module+imp+end'
    'minLength': 1
    'body':"""
    module $1
      imports $2

    endmodule
    """
    'description': 'module,imports and endmodule'

  'syntax':
    'prefix': 'syntax'
    'minLength': 1
    'body': 'syntax $1'

  'rule':
    'prefix': 'rule'
    'minLength': 1
    'body': 'rule $1'

  'imports':
    'prefix': 'imports'
    'minLength': 1
    'body': 'imports $1'

  'configuration':
    'prefix': 'configuration'
    'minLength': 1
    'body': 'configuration <k> ${1:$PGM:} </k>$2'
    'description': 'Pressing tab will allow you to save what is inside the cell and you can continue writing after the end of the cell'

  'left':
    'prefix': 'left'
    'minLength': 1
    'body': 'left'

  'left-strict':
    'prefix': 'left,strict'
    'minLength': 1
    'body': 'left,strict${1:($2)}'

  'strict':
    'prefix': 'strict'
    'minLength': 1
    'body': 'strict${1:($2)}'

  'bracket':
    'prefix': 'bracket'
    'minLength': 1
    'body': 'bracket'

  'non-assoc':
    'prefix': 'non-assoc'
    'minLength': 1
    'body': 'non-assoc'

  '<k>...</k>':
    'prefix': 'k'
    'minLength': 1
    'body': 'k> $1 </k'


  '<env>...</env>':
    'prefix': 'env'
    'minLength': 1
    'body': '${1:env> $2 </env}'

  '<store>...</store>':
    'prefix': 'store'
    'minLength': 1
    'body': '${1:store> $2 </store}'

  '<stack>...</stack>':
    'prefix': 'stack'
    'minLength': 1
    'body': '${1:stack> $2 </stack}'

  '<in>...</in>':
    'prefix': 'in'
    'minLength': 1
    'body': '${1:in> $2 </in}'  

  '<out>...</out>':
    'prefix': 'out'
    'minLength': 1
    'body': '${1:out> $2 </out}'  
  
  '<in stream=" ">...</in>':
    'prefix': 'in stream'
    'minLength': 1
    'body': '${1:in stream="$2"> $3 </in}'  
    'description': 'Press tab to write inside the stream' 
    
  '<out stream=" ">...</out>':
    'prefix': 'out stream'
    'minLength': 1
    'body': '${1:out stream="$2"> $3 </out}'   
    'description': 'Press tab to write inside the stream'
